
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.title {
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 90px;
}
.fold {
    font-size: 20px;
    cursor: pointer;
}
.bell {
    top: 3px;
    margin-right: 20px;
    font-size: 20px;
}
.uname {
    margin-left: 8px;
    color: #fff;
}
.linkBtn {
    cursor: pointer;
    color: #1890ff;
}